<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.0/socket.io.js"></script>
    <title>Chat App</title>
  </head>
  <body>
    <div class="container">
      <div class="py-5 text-center">
        <h2>Чат программа</h2>
        <p class="lead">Укажите ваше имя и начинайте переписку</p>
      </div>
      <div class="row">
        <div class="col-6">
          <h3>Форма сообщений</h3>
          <form id="messForm">
            <label for="name">Имя</label>
            <input type="text" name="name" id="name" placeholder="Введите имя" class="form-control">
            <br>
            <label for="message">Сообщение</label>
            <textarea name="message" id="message" class="form-control" placeholder="Введите сообщение"></textarea>
            <br>
            <input type="submit" value="Отправить" class="btn btn-danger">
          </form>
        </div>
        <div class="col-6">
          <h3>Сообщения</h3>
          <div id="feedback"></div>
          <div id="all_mess"></div>
        </div>
      </div>
    </div>
    <script src="chat.js"></script>
  </body>
</html>