$base-white: #FFFFFF;
$header-blue:#2D303A;
$header-border: #323746;
$slider-red: #F06C64;
$slider-border: #EA676B;
$service-white: #F2F2F2;
$service-title: #666D89;
$service-description: #767E9E;
$portfolio-description:#767E9E;
$portfolio-title: #666D89;
$tag-active: #DEDEDE;
$tag-border: #BBBBBB;
$wrapper: #E5E5E5;