@media (max-width: 1300px) {
    .home .max-width {
        margin-left: 0px;
    }
}
@media (max-width: 1104px) {
    .about .about-content {
        & .left {
            & img {
                height: 350px;
                width: 350px;
            }
        }
    }
}
@media  (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }
}
@media (max-width: 947px) {
    .max-width {
        padding: 0 50px;
        max-width: 800px;
    }
    .menu-btn {
        display: block;
        z-index: 1;
        & i.active::before {
            content: '\f00d';
        }
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
        &.active {
            left: 0;
        }
        & li {
            display: block;
            & a {
                display: inline-block;
                margin: 20px 0;
                font-size: 25px;
            }
        }
    }
    .home {
        & .home-content{
            & .text-2 {
                font-size: 70px;
            }
            & .text-3 {
                font-size: 35px;
            }
            & a {
                font-size: 23px;
                padding: 10px 30px;
            }
        }
    }
    .about .about-content {
        & .column {
            width: 100%;
            &.left {
                display: flex;
                justify-content: center;
                margin: 0 auto 60px;
            }
            &.right {
                flex: 100%;
            }
        }
    }
    .services {
        & .services-content {
            & .card {
                width: calc(50% - 10px);
                margin-bottom: 20px;
            }
        }
    }
    .skills .skills-content .column,
    .contact .contact-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .projects .carousel .card img {
        height: 268px;
        width: 500px;
    }
}

@media  (max-width: 690px) {
    .max-width {
        padding: 0 23px;
        &.carousel-container {
            margin: 0 10px;
        }
    }
    .home {
        & .home-content{
            & .text-2 {
                font-size: 60px;
            }
            & .text-3 {
                font-size: 32px;
            }
            & a {
                font-size: 20px;
            }
        }
    }
    .services {
        & .services-content {
            & .card {
                width: 100%;
            }
        }
    }
    .skills .skills-content .column {
        width: 100%;
    }
    .projects .carousel .card img {
        height: 145px;
        width: 280px;
    }
}
@media  (max-width: 500px) {
    .home {
        & .home-content .text {
            &-2 {
                font-size: 50px;
            }
            &-3 {
                font-size: 27px;
            }
        }
    }

}